.shakeComputer {
  animation: shakeComputer 0.8s linear;
}
.shakePlayer {
  animation: shakePlayer 0.8s linear;
}
@keyframes shakeComputer {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  70% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes shakePlayer {
  0% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(30deg);
  }
  70% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
